body{
    background-color: #ffffff;
    margin: auto;
}
/*#1e9cd7*/
.heading{
    color: white;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    background-color: #002157;
    padding: 1px;
}

/*navigation*/
nav{
    float:left;
    background-color: #1e9cd7;
    width: 25%;
    overflow: hidden;
}
nav ul{
    list-style: none;
    text-align: left;
    margin: auto;
    margin-left: -30px;
    width: 100%;
}
nav ul li{
    list-style: none;
    width: 100%;
    margin-left: -50px;
}
nav ul li a{
    width: 100%;
    display: block;
    color: #002157;
    text-align: left;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}
nav a:hover{
    background-color: #002157;
    color: #ffffff;
}

/*main content*/
main{
    float:left;
    width: 70%;
    padding:0 20px;
}

/*main content h2 headings*/
h2{
    text-align: center;
    color: #002157;
}

footer{
    color: #ffffff;
    background-color:#002157;
    text-align:center;
    padding:1px;
}

/*responsiveness*/
@media only screen and (max-width: 620px){
    /*For mobile phones*/
    nav, main{
        width: 100%;
    }
}